*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  /* -webkit e -moz para a fonte ficar mais suave e mais fina, coisa sutil*/

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}

/* Variáveis do css */

:root {
  /* Cores */

  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-primary: #f4f4f5;
  --text-color-secondary: #a1a1aa;
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4a1a;

  /* Fontes */

  /* Font-family */

  --ff-sans: "Inter", system-ui, sans-serif;

  /* Font-weight */

  --fw-base: 400; /* regular */

  --fw-md: 500; /* Medium */

  --fw-bold: 800; /* Bold */

  /* Font-size - Mobile*/

  /* Primeiramente será criado para mobile e ajustado para telas maiores com @media */

  --fs-sm: 0.875rem; /* Span*/

  --fs-base: 1rem; /* Paragraph */

  --fs-lg: 1.25rem; /* H3 */

  --fs-xl: 1.5rem; /* H2 */

  --fs-2xl: 2.5rem; /* H1 */

  /* Padding vertical */

  --py-base: 1rem; /* padding-y vertical para espaços*/

  --py-lg: 1.5rem; /* vai ser usado nas cx menores do mobile */

  --py-xl: 3rem; /* vai ser usado de padding para as telas do mobile */

  /* Padding Horizontal */

  --px-lg: 1.5rem; /* Padding-x = horizontal para mobile*/
}

html {
  font-family: var(--ff-sans); 
  font-weight: var(--fw-base);
  font-size: var(--fs-base);

  line-height: 1.6; /* No figma esse line-height esta como 160%*/

  color: var(--text-color-primary);

   overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

p {
  font-size: var(--fs-base);
}

span {
  font-size: var(--fs-sm);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Menu items, texto com background:hover */

a:hover {
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );

  /* aplicando o background nas letras e removendo o fundo, é preciso usar as 3 */

  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
  
}


ul[role="list"] {
  list-style: none;
}

 img{
        max-width: 100%;
        display: inline-block;
    }

/* @MediaQuery pora caso a width seja 1280px(80em), apenas as fonts-size selecionadas no root serão alteradas*/

@media (width >= 80em) {
  :root {
    --fs-lg: 32px; /* H3 */

    --fs-xl: 48px; /* H2 */

    --fs-2xl: 64px; /* H1 */

    --py-base: 1.5rem;

    --py-lg: 2.5rem;

    --py-xl: 5rem;

    --px-lg: 2rem; /* Padding-x = horizontal para desktop*/
  }
}
